projects/**/*.png
projects/**/*.jpg
projects/**/*.jpeg
*.pyc
__pycache__
.vscode
note.txt
tempCodeRunnerFile.py
private/
api/
all_projects.json
changelogs.json
data_version.json
version.json
.build_cache.json
index.html
main.min.js
style.min.css
